.MuiCardHeader-title {
  font-size: 1rem !important;
}

.MuiCardMedia-root {
  z-index: 0;
}

/* .MuiSvgIcon-root {
  color: rgb(102, 0, 0);
  opacity: 0.6;

} */

/* .parent {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
}

.child {
  grid-area: 1 / 1 / 2 / 2;
} */

/* path {
  opacity: 0.8;
  color: white;
} */


.child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
}
.parent {
  position: relative;
}

.selected {
  opacity: 1;
  /* color: #c4c4c4 !important; */
  color: #d7d7d7 !important;

  /* #d7d7d7; */
  /* color: rgb(252, 61, 61) !important; */

}

.favorite-focus :hover {
  opacity: 1;
  color: #c4c4c4;
}

.favorite-icon {
  color: #f8f7f75e;
}

.header {
  padding: 0.7rem 0.9rem;
}