.container-sidebar-page {
  display: flex;
  flex-direction: row;
}

.main {
  flex-grow: 1;
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Alegreya SC', serif; */
  font-family: 'Cormorant Unicase', serif;
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Poiret One', cursive; */
}

.scroll {
  overflow-y: scroll;
}